                                                                /* Oculta las flechas de los inputs
                                                                type number en todos los navegadores
                                                                */
                                                                input[type=number]::-webkit-inner-spin-button,
                                                                input[type=number]::-webkit-outer-spin-button {
                                                                    -webkit-appearance: none;
                                                                    margin: 0;
                                                                }

                                                                input[type=number] {
                                                                    -moz-appearance: textfield;
                                                                    appearance: textfield;
                                                                }

                                                                /* Ajusta el ancho del input según
                                                                el número de dígitos */
                                                                #qty-input {
                                                                    width: 2.5em !important;
                                                                    min-width: 32px !important;
                                                                    max-width: 3em !important;
                                                                    text-align: center;
                                                                }

                                                                /* Oculta las flechas de los inputs
                                                                type number en todos los navegadores
                                                                */
                                                                input[type=number]::-webkit-inner-spin-button,
                                                                input[type=number]::-webkit-outer-spin-button {
                                                                    -webkit-appearance: none;
                                                                    margin: 0;
                                                                }

                                                                input[type=number] {
                                                                    -moz-appearance: textfield;
                                                                    appearance: textfield;
                                                                }

                                                                /* Ajusta el ancho del input según
                                                                el número de dígitos */
                                                                #qty-input {
                                                                    width: 2.5em !important;
                                                                    min-width: 32px !important;
                                                                    max-width: 3em !important;
                                                                    text-align: center;
                                                                }

                                                                .collapse {
                                                                    transition: height 0.3s ease;
                                                                }