.subcategories {
    margin-left: 15px;
    list-style-type: none;
}

.subcategories li {
    margin-top: 5px;
}

.category-toggle {
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.category-toggle:hover {
    text-decoration: underline;
}