.o_wsale_filters {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.o_wsale_filter_section {
    margin-bottom: 20px;
}

.o_wsale_filter_section h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.o_wsale_filter_section ul {
    list-style: none;
    padding: 0;
}

.o_wsale_filter_section ul li {
    margin-bottom: 5px;
}

.o_wsale_filter_section ul li a {
    text-decoration: none;
    color: #333;
}

.o_wsale_filter_section ul li a:hover {
    text-decoration: underline;
}