ul.list-unstyled {
    position: relative;
    padding-left: 20px;
}

ul.list-unstyled li {
    position: relative;
    padding-left: 20px;
}

ul.list-unstyled li span:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ul.list-unstyled li span:nth-child(2) {
    position: absolute;
    left: 4px;
    top: -50%;
    height: 100%;
    width: 2px;
}

ul.list-unstyled li span:first-child[style*="background-color: blue"] {
    background-color: blue;
}

ul.list-unstyled li span:first-child[style*="background-color: gray"] {
    background-color: gray;
}

ul.list-unstyled li span:nth-child(2)[style*="background-color: blue"] {
    background-color: blue;
}

ul.list-unstyled li span:nth-child(2)[style*="background-color: gray"] {
    background-color: gray;
}